[user]
    name = Thomas Thornton
    email = thomas.thornton.jr@gmail.com
[core]
    autocrlf = input
    safecrlf = true
    excludesfile = .*.swp

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
